body {
  padding-left: 10px;
}
#photo {
  float: left;
  margin-top: -110px;
  margin-left: 25%;
  width: 150px;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
}
#photo2 {
  float: right;
  margin-top: -120px;
  margin-right: 25%;
  width: 100px;
  border-style: solid;
  border-color: black;
  border-radius: 50%;
  padding-right: 10px;
  padding-left: 10px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
footer {
  border-top: solid;
}
